BE/HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ ###
.idea/
*.iml
*.iws
*.ipr
out/

### STS ###
.apt_generated
.classpath
.factorypath
.springBeans
.sts4-cache
bin/

### VSCode ###
.vscode/